body { 
	height: 100%;	
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.content-wrap {
	background: url("../images/backgroundImage.png") no-repeat center fixed;
	background-size: cover;
	min-height: 100vh;
}
.content-container {
	color:#fff;
	margin-top: 13%;
	background-color: rgba(0,0,0,.8);
	padding: 3% 5%;

}
#game-wrapper {
	margin-bottom: 5%;
}
h1 {
font-family: 'Faster One', cursive;
font-size: 5em;
}
p {
	font-size: 22px;
}
#heading {
	background-color: rgba(139,0,0, .95);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}
#alert h2 {
	font-family: 'Faster One', cursive;
	font-size: 50px;
	margin: 15% 0;
	color: #fff;
}
.modal-dialog {
	width: 60%;
	margin: 15% auto 30px;
}
.close {
	color: #fff;
}
.modal-content {
	background: url(../images/curtain.png) no-repeat center center;
	background-size: cover;
	background-color: #000;
}
#heading h2 {
	margin-top: 0;
}
h1 {
	margin-bottom: 2%;
}
#welcome p {
 	margin-bottom: 5%;
 }

button, .btn {
	background: transparent;
	padding: 10px 20px;
    font-size: 28px;
    text-transform: uppercase;
    border-radius: 10px;
}
#startGame {
	margin: 3% 1%;
    border: 1px solid #8B0000;
}

#startGame:hover {
	background: #8B0000;
}

button:focus {
    outline:none;
}

.qGrp {
	border-bottom: 1px solid #fff;
	padding: 5px 0 40px;
}
.options {
    border: 1px solid #337ab7;
}
.options:hover, .selected {
	background: #337ab7;
}
#finish {
	margin-top: 40px;
	border: 1px solid #f0ad4e;

}
#finish:hover {
	background-color: #f0ad4e;
}
.modal-header {
	border-bottom: none;
}

@media screen and (max-width: 39.9375em) {
	.container{
		padding: 0px;
	}
	.content-container {
		margin-top: 30%;
	}
	.modal-dialog {
		margin: 30% auto 30px;
		width: 100%;
	}
	.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle),.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
		width: 100%;
		border-radius: 10px;
		margin: 5px 0;
	}	
	#questionWrap h3 {
		font-size: 40px
	}
}

@media screen
